<link rel="stylesheet" href="/css/home.css">
<div class="edit ">

    <h1 ><i class="fa fa-key" aria-hidden="true"></i> Welcome to O-Auth! </h1>
    <p class="lead" id="textbelow">Authenticate yourself for Something</p>
    <p class="lead">
        <a class="btn btn-outline-light btn-lg" href="/users/sign-up" role="button">Let's Roll !</a>
    </p>
</div>